body {
    display: flex;
  }
  
  #nav {
    width: 20%;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  #content {
    width: 80%;
    padding: 20px;
  }
  
  #home-content,
  #contact-content,
  #info-content,
  #guide-content {
    display: none;
  }